#landing {
    background-image: url('../images/hero.jpg');
    height: 790px;
}

.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
    height: 790px;
}

#logo {
    font-size: 51px;
    padding-top: 26px;
    padding-left: 22px;
}

.nav {
    padding-left: 67px;
    color: white;
    font-weight: lighter;
}

.menu {
    padding-top: 51px;
    font-size: 15px;
    font-weight: bold;
}

.empty {
    width: 470px;
}

.motto {
    padding-top: 150px;
    font-size: 60px;
    color: white;
    font: lighter;
    height: ;
}

.empty2 {
    width: 255px;
}

.empty3 {
    width: 457px;
}

.desc {
    text-align: center;
    color: white;
    padding-top: 50px;
}

.desc2 {
    text-align: center;
    color: white;
    padding-top: 0px;
}

.mouse {
    text-align: center;
    color: white;
    padding-top: 255px;
}
.about {
    background-image: url('../images/about.jpg');
    height: 402px;
}

#products {
    background-color: #C6BFA5;
    height: 147px;
    padding-top: 50px;
}

label {
    font-weight: lighter;
}

input[type=checkbox] {
    transform: scale(2);
    -ms-transform: scale(2);
    -webkit-transform: scale(2);
    padding: 25px;
    padding-left: 20px;
}

#rr-element {
    white-space: nowrap;
}

#rr-element label {
   padding-left: 0.4em;
}

dt {
    display: inline-block;
}

button {
    background-color: #651B00;
    border-color: #651B00;
    height: 50px;
    width: 203px;
    color: white;
    text-align: center;
    font-size: 14px;
}

.elements {
    width: 870px;
}

.clothing {
    height: 1308px;

}

.empty1 {
    height: 98px;
}

hr {
    border: none;
    height: 2px;
    color:#6E6E6E;
    background-color:#6E6E6E;
}

.empty2 {
    height: 78px;
}

.empty4 {
    width: 187px;
}

.pages {
    color: #B8AF92;
    font-weight: bold;
    font-size: 16px;
}

.empty5 {
    width: 190px;
}

.pages2 {
    color: #B8AF92;
    font-weight: 900;
    font-stretch: extra-expanded;
}

.men {
    padding-top: 5px;
    font-weight: bold;
}

.clothe {
    text-align: center;
}

.jumbotron {
    width: 322px !important;
    height: 376px !important;
}

.emp {
    width: 65px;
}

.shirt {
    border-style: solid;
    border-color: #A99B76;
}

.prod {
    width: 322px;
    height: 376px;
}

.tee {
  float: left;
  color: #A99B76;
  font-size: 14px;
}

.price {
  float: right;
}

.dot {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
  float: right;
}

.green {
    background-color: #2DB200;
}

.blue {
    background-color: #0000FE;
}

.grayish {
    background-color: #535154;
}

.pink {
    background-color: #D4A7AC;
}

.white {
    background-color: #FFFFFF;
}